.external-event {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: .25rem;
    cursor: move;
    font-weight: bold;
    margin-bottom: 4px;
    padding: 5px 10px;
}